

.profilecontent{
    display: flex;
}

.tittlediv{
    color: white;
    background-color: #0C0C0C;
    padding: 5px 5px;
    border-radius: 3px;
}
.onlinetittle{
    color: white;
    background-color: rgba( 0, 0, 0, 0.3 );
    padding: 5px 0;
    border-radius: 3px;
}


.tittlediv h4, .onlinetittle h4{
    font-size: 16px;
    padding-left: 16px;
}

.guide{
    display: flex;
    padding: 17px 8px;
    background-color: rgba(0, 0, 0, 0.3);
    
}
.guide img{
    padding: 8px 8px 8px 8px;
    background-color: #0C0C0C;
    border-radius: 3px;
}

.guidetext {
    color: white;
    z-index: 50;
    padding: 8px 8px 8px 8px;
    background-color: #0C0C0C;
    width: 50vw;
}

.guidetext small{
    color: gray;
    display: flex;
}
.guidetext small p{
    color: white;
}