*{
    border-radius: 3px;
}

.profilecontent{
    display: flex;
}

.tittlediv,.onlinetittle{
    color: white;
    background-color: #0C0C0C;
    padding: 5px 5px;
}
.tittlediv h4, .onlinetittle h4{
    font-size: 16px;
    padding-left: 16px;
}

.guide{
    display: flex;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);;
    
}
.guide img{
    padding: 8px 8px 8px 8px;
    background-color: #0C0C0C;
    
}

.guidetext {
    color: white;
    z-index: 50;
    padding: 8px 8px 8px 8px;
    background-color: #0C0C0C;
    width: 50vw;
}

